.home__container {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    text-align: center;
    min-height: 90vh;
    color: hsl(var(--color-tertiary));
}

.home__text {
    display: flex; 
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    h5 {
        white-space: nowrap;
        font-size: clamp(1rem, 2vw, 2rem);
        letter-spacing: 4.75px;
    }
    h1 {
        font-size: clamp(6rem, 10vw , 15rem);
    }

    p{
        font-family: 'Barlow', sans-serif;;
        font-size: clamp(1rem, 3vw, 2rem);
        line-height: 32px;
    }

}

.home__button {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 150px;
    aspect-ratio: 1;
    background-color: hsl(var(--color-tertiary));
    color: hsl(var(--color-primary));
    font-size: 1.2rem;
    z-index: 1;
    &::after {
        content: '';
        position: absolute;
        background-color: hsl(var(--color-tertiary)/0.1);
        width: 100%;
        height: 100%;
        border-radius: 50%;
        z-index: -1;
        opacity: 0;
        transition: opacity 500ms linear, scale 1s ease-in-out ;
    }
    &:hover::after, &:focus::after {
        cursor: pointer;
        opacity: 1;
        scale: (1.5);
    }
}

@media (min-width: 860px) {
    .home__container {
        grid-template-columns: 1fr 1fr;
    }
    .home__text {
        padding-inline: 11rem;
        text-align: justify;
    }

    .home__button{
        place-self: center center;
        width: 200px;
        font-size: 1.5rem;
    }

}