.home-bg {
    background: url('./assets/home/background-home-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.destination-bg {
    background: url('./assets/destination/background-destination-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.crew-bg {
    background: url('./assets/crew/background-crew-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.technology-bg {
    background: url('./assets/technology/background-technology-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}