@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


:root {
    --color-primary: 230 35% 7%;
    --color-secondary: 231 77% 90%;
    --color-tertiary: 0 0% 100%;
}

body {
   font-family: 'Bellefair', serif;
//    height: 100vh;

}